
<style>
    .btn-voltar{
        margin: 10px 0 0 50px;
        outline: none;
        border: none;
        background-color: transparent;
        padding: 0;
         font-size: inherit;
        font-family: inherit;
        cursor: pointer;
        width: 150px;
        height: 100px;
        font-size: 26px;
    }

    .btn-voltar img{
        width: 75px;
        height: 60px;
    }
</style> 

<button onclick="window.history.back();" class="btn-voltar"> <img src="http://localhost:3000/assets/img/icone-voltar.png" alt="botão voltar"> Voltar</button>
