.container-duvidas {

    padding: 0 20rem;
    font-family: 'Nunito', sans-serif;
}

.formulario-duvidas label {
    display: inline-block;
    font-size: 28px;
    margin-bottom: 5px;
}

.formulario-duvidas input {
    background: white;
    margin-bottom: 30px;
    border-radius: 6px;
    font-size: 24px;
    box-sizing: border-box;
    justify-items: end;
    display: block;
    height: 45px;
    width: 100%;
    border: 1px solid #000000;
    padding: 8px;
    font-family: 'Nunito', sans-serif;
}

.formulario-duvidas textarea {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 6px;
    font-size: 24px;
    border: 1px solid #000000;
    padding: 15px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

.container-duvidas h1 {
    font-size: 40px;
    padding: 20px 0;

}

.formulario-duvidas button {
    font-size: 20px;
    position: relative;
    float: right;
    color: white;
    font-family: 'Nunito', sans-serif;
    border-radius: 8px;
    box-sizing: border-box;
    height: 40px;
    width: 189px;
    margin: 10px;

}

.enviar-duvidas {
    background-color: #3CDDDD;
    color: #fff;
    border-color: #3CDDDD;
}


.formulario-duvidas button:hover {
    background: rgb(9, 48, 56);
    border-color: rgb(9, 48, 56);
}

.container-duvidas img {
    background-color: #3CDDDD;
    border-radius: 15px;
    padding: 10px;
    margin: 0  15px 0 0;
}

.container-duvidas div {
    display: flex;
    align-items: center;

}
.voltar{
    padding: 10px 0 0 15px;
}