<%- include('includes/head') %>
    <%- include('includes/nav') %>
    <%- include('includes/botaoVoltar') %>


        <style>
            .container-duvidas img {
                background-color: #3CDDDD;
                border-radius: 15px;
                padding: 10px;
                margin: 0 15px 0 0;
            }

            .container-duvidas #titulo {
                display: flex;
                align-items: center;

            }
            
        </style>

        <section class="container-duvidas">

            <div class="container">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8 my-3">
                        <div id="titulo">
                            <img class="img-thumbnail" src="/assets/img/conversation 1.png" alt="">
                            <h1>Dúvidas</h1>
                        </div>
                        <div class="row">
                            <div class="col-lg my-5">

                                <form class="form-duvias" action="https://api.staticforms.xyz/submit" id="formulario-duvidas" method="POST">
                                    <div class="mb-3">
                                        <input type="hidden" name="accessKey" value="aeaf87ce-bbd9-49b3-a43d-a554b68eae5c"> <!-- Required -->
                                        <label class="form-label" for="nome-duvidas">Nome:</label>
                                        <input class="form-control" type="text" id="nome-duvidas" name="name">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="email-duvidas">Email:</label>
                                        <input class="form-control" type="email" id="email-duvidas" name="email"
                                            placeholder="exemplo@exemplo.com">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="descricao-duvidas">Descrição:</label>
                                        <textarea class="form-control" name="message" id="descricao-duvidas"
                                            cols="30" rows="10" placeholder="Descreva sua dúvida aqui."></textarea>
                                    </div>
                                    <input type="hidden" name="redirectTo" value=""> 
                                    <button  class="btn btn-primary" type="submit">Enviar</button>
                                    

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%- include('includes/footer') %>
        